<footer role="contentinfo" class="container-fluid">
  <div class="row">
    <div class="col text-center text-sm-left">
      <p>
        <a href="https://www.nd.edu/copyright"><%= translate(".copyright") %></a> @copy; 2010-<%= Time.now.year %>
        <a href="https://www.nd.edu"><%= translate(".university") %></a>
      </p>
      <address>
        <a href="https://dining.nd.edu"><%= translate(".campus_dining") %></a><br>
        217 South Dining Hall, Notre Dame, IN 46556<br>
        <%= translate(".phone") %> (574) 631-7253 <span class="fax"><%= translate(".fax") %></span> (574) 631-7994 <a href="mailto:dining@nd.edu" class="email">dining@nd.edu</a>
      </address>
      <p><a href="https://www.nd.edu/about/accessibility"><%= translate(".accessibility") %></a></p>
    </div>
    <div class="col-sm-6">
      <a href="https://www.nd.edu"><img src="https://static.nd.edu/images/marks/blue/ndmark300.png" class="nd-mark" alt="<%= translate('.university') %>"></a>
    </div>
  </div>
</footer>
